apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: secure-stack
spec:
  selector:
    app: api
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30081
  type: NodePort