apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: secure-stack
spec:
  selector:
    app: frontend
  ports:
    - port: 8080
      targetPort: 80
      nodePort: 30080
  type: NodePort
